/* Hide theme selector when printing (or generating PDF) */
@media print {
  .theme-selector-container {
    display: none !important;
  }
}
@media print {
  .theme-selector-container {
    display: none !important;
  }

  .button-section {
    display: none !important;
  }
}
