.seo-section {
  padding: 60px 20px;
  background: #f9fafc;
}

.seo-container {
  max-width: 1000px;
  margin: 0 auto;
}

.seo-section h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 600;
}

.seo-section p {
  margin-bottom: 15px;
  line-height: 1.7;
  font-size: 16px;
  color: #444;
}