.policies-page {
  padding: 60px 20px;
  background-color: #f8f9fb;
  min-height: 100vh;
}
.h2{
  color: #2563eb; ;
}

.policies-container {
  max-width: 900px;
  margin: 0 auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 8px;
}

.policies-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #222;
}

.policy-section {
  margin-bottom: 40px;
}

.policy-section h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

.policy-section p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 12px;
}

.policy-section ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

.policy-section ul li {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 8px;
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .policies-container {
    padding: 25px;
  }

  .policies-title {
    font-size: 28px;
  }
}
