.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 420px;
  max-height: 700px;
  overflow-y: hidden;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
.popup-scroll {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 12px;
  padding-left: 12px;
  max-height: 600px;
  overflow-y: auto;
}


.popup-title {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.loading-text {
  text-align: center;
  color: #777;
}

.suggestion-list {
  list-style: none;
  padding: 0;
}

.suggestion-text {
  font: 9px; ;
}
.title-heading{
  color: #007bff;
  text-align: center;
  margin-top: 5px;
}
.popup-heading{
  text-align: center;
  font-size: 18px;
  margin: 0px;
}
.suggestion-item {
  padding: 8px;
  margin-bottom: 6px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.suggestion-item:hover {
  background: #eaf3ff;
  border-color: #007bff;
}

.plus-btn {
  color: #007bff;
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
}

.close-btn-popup {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn-popup:hover {
  background: #0056b3;
}
.font-medium{

  margin: 0;
  
}
.popup-list{
  padding-left: 3px;
}
.text-sm{
  margin-top: 0;
  margin-bottom: 0;
}
.mb-2{
  margin-bottom: 8px;
}


.popup-container {
  will-change: transform;
  transition: opacity 0.2s ease-out;
}

body {
  scroll-behavior: smooth;
}
