.te-buttons{
  position: sticky;
  top: 70px;       /* height of navbar */
  z-index: 2000;
  background:#fff;
  display:flex;
  justify-content:center;
  gap:10px;
  padding:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
border-bottom:1px solid #e5e7eb;
}
