.editor-area{
margin-top:90px; /* navbar 70 + gap 20 */

display:flex;
flex-direction:column;
align-items:center;
padding:0 20px;
}
.resume-a4.pdf-mode {
  transform: none !important;
  zoom: 1 !important;
  margin: 0 !important;
}

.resume-a4.pdf-mode * {
  box-sizing: border-box;
}

.save-btn{
  position: relative;
  z-index: 9999;
  pointer-events: auto;
}
.toolbar{
  position: sticky;
  z-index: 9999;
}