.template-layout {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Toolbar separate block */
.template-layout .toolbar {
  width: 100%;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;

  padding-top: 30px;
  box-sizing: border-box;
  z-index: 9999;
}

/* Resume area */
.template-layout .content {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Button text change is in JSX, not CSS */