.resume-builder {
  display: flex;
  flex-direction: row; /* side by side */
  gap: 10px;
  width: 100%;
  height: 100vh; /* full height */
  box-sizing: border-box;
}

.form-section {
  width: 30%; /* left form 40% */
  overflow-y: auto;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.preview-section {
  width: 70%; /* right preview 60% */
  overflow-y: auto;
  padding: 10px;
}
