.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 420px;
  max-height: 800px;
  overflow-y: auto;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.popup-title {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.loading-text {
  text-align: center;
  color: #777;
}

.suggestion-list {
  list-style: none;
  padding: 0;
}

.suggestion-item {
  padding: 8px;
  margin-bottom: 6px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.suggestion-item:hover {
  background: #eaf3ff;
  border-color: #007bff;
}

.plus-btn {
  color: #007bff;
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
}

.close-btn {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:hover {
  background: #0056b3;
}
.font-medium{

  margin: 0;
  
}
