@tailwind base;
@tailwind components;
@tailwind utilities;


.review-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.review-overlay.show {
  display: flex;
}

.review-modal {
  background: #ffffff;
  width: 360px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.review-modal h3 {
  margin-bottom: 12px;
  text-align: center;
}

.review-modal input,
.review-modal select,
.review-modal textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.review-modal textarea {
  min-height: 80px;
  resize: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
